flows.json
[{"id":"b25d9232.bd058","type":"trigger","z":"7cad61ee.ed6ec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"300","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":390,"y":780,"wires":[["270c8291.c8a4ee"]]},{"id":"e083f3c.0b4921","type":"rpi-sensehat in","z":"7cad61ee.ed6ec","name":"Raspberry Pi senseHAT","motion":false,"env":true,"stick":false,"x":140,"y":260,"wires":[["22d54a9a.e68636","af789361.a7d7e","c0ec9980.9c4d08","418a6a4e.403134","478b66f2.ee9e48","b75ff9a4.553b88","b25d9232.bd058","9a6ae41c.ebfe38","6bb1903b.e1587","1c6a921a.00cd1e","68a96bac.287e34"]]},{"id":"22d54a9a.e68636","type":"function","z":"7cad61ee.ed6ec","name":"Temperatura","func":"var t=msg.payload;\nmsg.payload=t.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["3d067e24.793542"]]},{"id":"3d067e24.793542","type":"ui_gauge","z":"7cad61ee.ed6ec","name":"","group":"55ae580a.d97bf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp vazduha","label":"*C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":80,"wires":[]},{"id":"af789361.a7d7e","type":"function","z":"7cad61ee.ed6ec","name":"Vlaznost","func":"var v=msg.payload;\nmsg.payload=v.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["afba967b.d8a9b8"]]},{"id":"afba967b.d8a9b8","type":"ui_gauge","z":"7cad61ee.ed6ec","name":"Vlaznost","group":"55ae580a.d97bf8","order":3,"width":0,"height":0,"gtype":"wave","title":"Vlaznost vazduha","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":140,"wires":[]},{"id":"c0ec9980.9c4d08","type":"function","z":"7cad61ee.ed6ec","name":"Pregrejanost","func":"var t = msg.payload;\nmsg.payload = t.temperature;\nif (msg.payload > 35)\nmsg.payload = \"Ukljuci ventilaciju!\";\nelse\n    msg.payload= \"\";\n    return msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["a7a61d92.38a5c"]]},{"id":"a7a61d92.38a5c","type":"ui_text","z":"7cad61ee.ed6ec","group":"f25d31d9.95e91","order":3,"width":"6","height":"6","name":"Upozorenje_ventilacija","label":"","format":"{{msg.payload}}","layout":"col-center","x":740,"y":200,"wires":[]},{"id":"418a6a4e.403134","type":"function","z":"7cad61ee.ed6ec","name":"Niska temperatura","func":"var t = msg.payload;\nmsg.payload = t.temperature;\nif (msg.payload < 25)\nmsg.payload = \"Zatvori plastenik!\";\nelse\n    msg.payload= \"\";\n    return msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["7f1a0732.ecedc8"]]},{"id":"7f1a0732.ecedc8","type":"ui_text","z":"7cad61ee.ed6ec","group":"f25d31d9.95e91","order":4,"width":0,"height":0,"name":"Upozorenje_niska_temperatura","label":"","format":"{{msg.payload}}","layout":"col-center","x":950,"y":320,"wires":[]},{"id":"478b66f2.ee9e48","type":"function","z":"7cad61ee.ed6ec","name":"Visoka vlaznost","func":"var v = msg.payload;\nmsg.payload = v.humidity;\nif (msg.payload > 75)\nmsg.payload=\"Ukljuci ventilaciju!\";\nelse\n    msg.payload= \"\";\n    return msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["22d2e035.64687"]]},{"id":"22d2e035.64687","type":"ui_text","z":"7cad61ee.ed6ec","group":"f25d31d9.95e91","order":5,"width":0,"height":0,"name":"Upozorenje_visoka_vlaznost","label":"","format":"{{msg.payload}}","layout":"col-center","x":960,"y":460,"wires":[]},{"id":"b75ff9a4.553b88","type":"function","z":"7cad61ee.ed6ec","name":"NIska vlaznost","func":"var t = msg.payload;\nmsg.payload =t.humidity;\nif (msg.payload < 45)\nmsg.payload=\"Ukljuci zalivanje!\";\nelse\n    msg.payload= \"\";\n    return msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["f92222d9.65c12"]]},{"id":"f92222d9.65c12","type":"ui_text","z":"7cad61ee.ed6ec","group":"f25d31d9.95e91","order":6,"width":0,"height":0,"name":"Niska vlaznost","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":580,"wires":[]},{"id":"270c8291.c8a4ee","type":"function","z":"7cad61ee.ed6ec","name":"CSV funkcija","func":"var originalPayload = msg.payload;\nvar newPayload = msg.payload;\nvar t=msg.payload.temperature;\nvar v=msg.payload.humidity;\nvar d = new Date().toString();\n//newPayload.payload=msg.payload;\nnewPayload.date=d;\nnewPayload.temperature=t;\nnewPayload.humidity = v;\n//newPayload.payload= msg.date+\",\"+t+\",\"+msg.humidity////\nmsg.payload = newPayload.payload;\nreturn {payload:[d,t,v]};\n//return msg;\n\n","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["eadc10c0.1d044"]]},{"id":"eadc10c0.1d044","type":"csv","z":"7cad61ee.ed6ec","name":"plastenik.csv","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","x":830,"y":780,"wires":[["8d1e7e82.0ff58","8a608d7d.56b8d"]]},{"id":"8d1e7e82.0ff58","type":"debug","z":"7cad61ee.ed6ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":780,"wires":[]},{"id":"26740884.4635f8","type":"function","z":"7cad61ee.ed6ec","name":"email overheat","func":"if (msg.payload.temperature>31)\n{\n    msg.topic=\"Subject: Temperatura je previsoska!\"\n    msg.payload= \"Otvorite plastenik i ukljucite ventilaciju! Temperatura je: \"+String(msg.payload.temperature);\n\n    return msg;\n}\n//return msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["94bd7f79.7f7d5"]]},{"id":"9a6ae41c.ebfe38","type":"trigger","z":"7cad61ee.ed6ec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"300","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":430,"y":260,"wires":[["26740884.4635f8"]]},{"id":"94bd7f79.7f7d5","type":"e-mail","z":"7cad61ee.ed6ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"d2sindjelic@gmail.com","dname":"email hot","x":910,"y":260,"wires":[]},{"id":"6bb1903b.e1587","type":"trigger","z":"7cad61ee.ed6ec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"300","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":430,"y":380,"wires":[["f62a0b51.16c788"]]},{"id":"f62a0b51.16c788","type":"function","z":"7cad61ee.ed6ec","name":"email to cold","func":"if (msg.payload.temperature<25)\n{\n    msg.topic=\"Subject: Temperatura je preniska!\"\n    msg.payload= \"Zatvorite plastenik! Temperatura je: \"+String(msg.payload.temperature);\n\n    return msg;\n}\n//return msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["53dfd654.8eee28"]]},{"id":"53dfd654.8eee28","type":"e-mail","z":"7cad61ee.ed6ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"d2sindjelic@gmail.com","dname":"email cold","x":970,"y":380,"wires":[]},{"id":"1c6a921a.00cd1e","type":"trigger","z":"7cad61ee.ed6ec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"300","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":430,"y":520,"wires":[["67b2c75.145b438"]]},{"id":"67b2c75.145b438","type":"function","z":"7cad61ee.ed6ec","name":"to_high_hum","func":"if (msg.payload.humidity>75)\n{\n    msg.topic=\"Subject: Vlaznost je previsoka!\"\n    msg.payload= \"Iskljucite zalivanje i otvorite plastenik. Vlaznost je: \"+String(msg.payload.humidity);\n\n    return msg;\n}\n//return msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["b191cc37.0f853"]]},{"id":"b191cc37.0f853","type":"e-mail","z":"7cad61ee.ed6ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"d2sindjelic@gmail.com","dname":"email_to_high_hum","x":1030,"y":520,"wires":[]},{"id":"68a96bac.287e34","type":"trigger","z":"7cad61ee.ed6ec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"300","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":430,"y":640,"wires":[["31bca3d1.22a09c"]]},{"id":"31bca3d1.22a09c","type":"function","z":"7cad61ee.ed6ec","name":"to_low_hum","func":"if (msg.payload.humidity<25)\n{\n    msg.topic=\"Subject: Vlaznost je preniska!\"\n    msg.payload= \"Ukljucite zalivanje. Vlaznost je: \"+String(msg.payload.humidity);\n\n    return msg;\n}\n//return msg;","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["2e76cf6b.a182c"]]},{"id":"2e76cf6b.a182c","type":"e-mail","z":"7cad61ee.ed6ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"d2sindjelic@gmail.com","dname":"email_to_low_hum","x":1030,"y":640,"wires":[]},{"id":"8a608d7d.56b8d","type":"file","z":"7cad61ee.ed6ec","name":"","filename":"/home/pi/plastenik.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1100,"y":840,"wires":[[]]},{"id":"55ae580a.d97bf8","type":"ui_group","z":"","name":"Plastenik","tab":"61d9ef8c.f3d14","disp":true,"width":"7","collapse":false},{"id":"f25d31d9.95e91","type":"ui_group","z":"","name":"Text","tab":"61d9ef8c.f3d14","disp":true,"width":"6","collapse":false},{"id":"61d9ef8c.f3d14","type":"ui_tab","z":"","name":"Plastenik","icon":"dashboard","disabled":false,"hidden":false}]